 /* Desktop */

@media screen and (min-width: 1281px) {
  
  .game .date {
      padding: 6px;
      font-size: 1em !important;
      border:1px solid #fff;
      margin-top: -1px;
      margin-right: -1px;

    }
  
}




  /* iPad */
@media only screen and (min-width: 768px) and (min-height: 1024px){
	.game .date {
      padding: 15px;
      font-size: 1.5em !important;
      border:1px solid #fff;
      margin-top: -1px;
      margin-right: -1px;

    }

    .leaderboard {
    	padding-top: 40px !important;
	}
	.leaderboard .leaderboard-list ol {
     height: auto !important; 
     padding-left: 40px !important; 
	}

	.tick {
		margin-left: -15px !important;
	}
}

/*Galaxy S5*/

@media  (min-width: 360px) and (min-height: 640px) {
	.game .date {
      /*padding: 10px;*/
      font-size: 0.6em !important;
      border:1px solid #fff;
      margin-top: -1px;
      margin-right: -1px;

    }
}

/* iphone 5 */

@media  (min-width: 320px) and (min-height: 568px) {
    .game .date {
      padding: 6px;
      font-size: 0.55em;
      border:1px solid #fff;
      margin-top: -1px;
      margin-right: -1px;

    }

    .tick {
      z-index: 2;
      margin-left: -5px ;
      font-size: 1.1em;
    }

    .leaderboard {
      padding-top: 10px;
    }

    .leaderboard img {
      width: 80%;
      margin: 5px auto 10px auto;
    }

    .leaderboard .leaderboard-list {
      margin-top: 10px;
    }

    .leaderboard .leaderboard-list ol {
      height: 110px;
      padding-left: 20px;
    }
    
    .leaderboard .leaderboard-list ol li {
      font-size: 2vw;
      padding: 5px;
    }
  }
}

