/*  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .next        { left:  33%; }
  .carousel-inner .prev        { left: -33%; }
  .carousel-control.left,.carousel-control.right {background-image:none;}*/
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
  

  @font-face {
    font-family: 'Aerokids woff';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Aerokids.woff') format('woff');
  }

   @font-face {
    font-family: 'Gotham Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GOTHAM-BLACK.woff') format('woff');
  }

  @font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gotham-medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Avenir Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Avenir-Black-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Avenir Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Avenir-Medium-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Campton-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Campton-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Campton-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/campton-medium.woff') format('woff');
  }
  


/* ==========================================================================
   Global styles
   ========================================================================== */
   

    body{
     
       margin: 0px;
       padding: 0px;
       overflow-x: hidden;
       overflow-y: scroll;
       -webkit-overflow-scrolling:touch;
       font-family: 'Open Sans', sans-serif;
       background: linear-gradient(-150deg, #3294bd, #2b619f, #00599c);
   }

   h1, h2, h3, h4, h5, h6 {
    font-family: 'Campton-Bold';
    text-transform: uppercase;
   }

   a:hover{
     text-decoration: none;
   }

   .modal-content {
     background: linear-gradient(-150deg, #3294bd, #2b619f, #00599c);
   }

   .modal-header {
     /*background-image: url('../img/images/modal-brandnusantara.png');
     background-size: 100%;
     padding-bottom: 0px;*/
     border-bottom: 0px;
   }

   .modal-body {
     border-bottom: 0px;
     background: #fff;
     font-family: 'Avenir Medium';
     line-height: 17px;
   }

   .modal-body p.intro {
     font-family: 'Avenir Black';
     
   }

  /*.row {margin: 0px;}*/

  #header {
    /*background-color: #f9f9f9;*/
    /*border-top: 3px solid #EE5D20;*/
  }

  #header .logo {
    background-image: url('../img/images/header-wonderful-indonesia-shopee.png');
    background-size: 100%;
    width: 100%;
    /*height: 110px;*/
    margin: 0px;
  }

  #prizes {
    /*margin-top:-200px;*/
  }

  #prizes .text-head {
    width: 100%;
    background-image: url('../img/images/text-head.png');
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 18px;
  }

  #prizes .text-head h4 {
    font-family: 'Campton-Bold';
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    padding-top:13px;
    padding-bottom:13px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
  }


  #games .text-head {
    width: 100%;
    background-image: url('../img/images/text-head-secondary.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #games .text-head h4 {
    font-family: 'Campton-Bold';
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    padding-top:15px;
    padding-bottom:13px;
    margin-top: 0px;
    font-size: 17px;
    
  }

  #games .total-spin {
    background-image: url('../img/images/bg-chances.png');
    background-size: 100%;
  }

  #games .total-spin h5, #games .total-spin h4 {
    margin-top:15px;
    text-transform: none;
    text-align: center;
  }

  #games .chances-panel {
    background-image: url('../img/images/chances-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #games .chances-panel h5 {
    text-align: center;
    text-transform: none;
    margin:0px;
    margin-bottom:15px;
    font-size: 14px;
    margin-right: 0px;
  }

  #games .chances-panel h4 {
    text-align: center;
    text-transform: none;
    margin:0px;
    margin-top:5px;
    margin-bottom:10px;
    font-size: 18px;
  }

  #games .chances {
    background-image: url('../img/images/chance_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /*padding: 10px;*/
    padding-bottom: 2px;
    position: relative;
    
  }

  #games .chances h4, #games .chances h5 {
    text-transform: none;
  }

  #games .chances h4 {
    margin-bottom: 5px;
    font-size: 16px;
  }

  #games .chances h3 {
    font-size: 23px;
    margin-top:10px;
  }


  #games .chances-number{
    margin-top:8px;
  }

  #games .dapatkan{
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-family: 'Campton-Medium';
    text-shadow: 2px 2px 2px #00599c;
    /*margin-left: 15px;*/
    margin-top: 9px;
  }

  #games .dapatkan span {
    font-size: 10px;
  }


   #games .wins {
    background-image: url('../img/images/wins_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    /*margin-top:2px;*/
    /*padding-top:2px;*/
    /*padding-left: -2px;*/
    
  }

   #games .wins h4, #games .wins h5 {
    text-transform: none;
    /*margin-right: 30px;*/
   }


  #games .wins h5 {
    margin-top:15px;
    margin-right: 20px;
    font-size:14px;
  }
  #games .wins h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #games .wins h3 {
    margin-top:10px;
    font-size: 24px;
  }

  #games {
    font-family: 'Gotham Black';
    padding-top:5px;
    color: #6b270d;
  }

  #chance {
    font-family: 'Gotham Medium';
    color:#444444;
    border-right:  1px solid #f2f2f2; 
    border-left:  1px solid #f2f2f2;   
    border-top: 2px solid #f2f2f2;    
      
        
  }

  #chance h1 {
    margin:5px ;
  }

  #wheel img {
	  transform: rotate(0deg);
    margin-right: auto;
    margin-left: auto;
  }

  #wheel-area {
    /*background-color: #f9f9f9; */
    border-top: 2px solid #f2f2f2;        
    padding:10px;       
  }

  .wheel-area {
    background-image: url('../img/images/bg-bubble-fish.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%;
    margin-bottom: 5px;
    
  }

  .wheel-area .pin img{
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;

  }

  .wheel {
    padding-left:40px;
    line-height: 200px;
  }
  
  .wheel .wheel-img {
    margin-top:-25px;
    /*padding: 8px;*/
  }

  .wheel-area .wheel-bubble {
    margin-top: -220px;
    /*padding-left: 50px;*/
    position: relative;
  }

  .wheel-area .wheel-bubble img {
    margin-left: 35px;
    width: 90%;
  }

  .spin-button {
    padding: 10px;
    position: relative;
    top: 80px;
    right: 15px;
  }

  .wheel > .wheel-img > img {
    width: 60%;
    transform: rotate(10deg);
    -webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
		-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
		-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
		-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
		transition:         all 6s cubic-bezier(0,.99,.44,.99);
  }

  #inner-wheel{
		width:90%;
		height:100%;
		
		-webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
		-moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
		-o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
		-ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
		transition:         all 6s cubic-bezier(0,.99,.44,.99);	
	}



  #prizes-this-week .text-head {
    width: 100%;
    background-image: url('../img/images/text-head-secondary.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #prizes-this-week .text-head h4 {
    font-family: 'Campton-Bold';
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    padding-top:25px;
    padding-bottom:13px;
    
  }

  #prizes-this-week .prizes-text h5{
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #00599c;
    text-transform: none;
  }

  #prizes-this-week .prizes-text h5 span{
    color: #ffda00;
  }

  #how-to-play .text-head {
    width: 100%;
    background-image: url('../img/images/text-head-secondary.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #how-to-play .text-head h4 {
    font-family: 'Campton-Bold';
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    padding-top:25px;
    padding-bottom:13px;
    
  }

  #how-to-play .how-to-play-list {
    padding: 5px;
  }

  #how-to-play ol {
    /*list-style: none;*/
    padding-left: 25px;
  }

  #how-to-play li {
    font-family: 'Campton-Medium';
    color:#fff;
    counter-increment: step-counter;
    margin-top:15px
  }

  #how-to-play li::before{
    color: #ffda00;
    /*content: counter(step-counter);*/
    
  }


  #social-media-campaign .text-head {
    width: 100%;
    background-image: url('../img/images/text-head-secondary.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #social-media-campaign .text-head h4 {
    font-family: 'Campton-Bold';
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    padding-top:20px;
    padding-bottom:13px;
    
  }

   #social-media-campaign .sm-item {
     background-image: url('../img/images/brandnusantarashopee.png');
     background-repeat: no-repeat;
     background-size: 100%;
   }

  #social-media-campaign .sm-item .sm-item-text{
    text-align: right;
    font-family: 'Campton-Bold';
    color: #6b270d;
    padding-top: 30px;
    padding-bottom: 35px;
    line-height: 14px;
  }

  @-webkit-keyframes hh {
  0%, 100%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

@keyframes hh {
   0%, 100%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50%{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
  }
}

.spin {
  -webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
    animation: hh 0.1s;
}



  #reward {
    padding: 20px;
    border-right:  1px solid #f2f2f2; 
    border-left:  1px solid #f2f2f2; 
  } 

  .title-text {
    margin: 20px;
    border-bottom : 3px solid  #FF5722;;
    padding:10px 0px;
    color:#FF5722;
  } 

  .hero-reward {
    height: 200px;
    background-image: url('../img/belitung.jpg');
    background-size: cover;
    background-position: center;
  }

  .hero-reward > span {
    margin-top: 75px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    border : 3px solid  #f9f9f9;
    padding:10px 15px;
    color: #f9f9f9;
  }



  #promo-partnership {
    padding-bottom: 10px;
    /*background-image: url('../img/images/partner-bg_08.png');*/
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -10px;
    /*padding-bottom:0px;*/
  }

  
  #promo-partnership .promo-content {
    padding-bottom: 5px;
    background-image: url('../img/images/partner-content-bg-sec.png');
    background-size: 100% 100%;
    margin-top:20px;
  }
  #promo-partnership .promo-content .head {
    color: #fff;
  }
  #promo-partnership .promo-content .partner-wrapper{
    background-color: #fff;
    padding:10px;
    border-radius: 6px;
    margin:2px;
    box-shadow: 2px 2px 2px #2b619f;
  }

  .promo-text {
    color:#f15a24;
    
  }


  .partner-header h3 {
    background-image:url('../img/images/panel-header-bg.png');
    background-size: 100%;
    background-repeat: no-repeat; 
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top:-10px;
    margin-bottom: 0px;
    font-size: 16px;
  }

  .promo-text h5 {
    font-size: 15px;
    font-family: 'Gotham Black';
  }

  .promo-caption {
    font-family: 'Campton-Medium';
    font-size: 8px;
  }
  

  .logo {
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .permata {
    content: url('../img/bank/permata.png');
    width: 50%;
  }

  .citi {
    content: url('../img/bank/citibank.png');
    width: 40%;
  }

  .uob {
    content: url('../img/bank/uob.png');
    width: 40%;
  }
  .gogo {
     content: url('../img/bank/gogo.png');
    width: 60%;
    margin:25px auto 25px auto;
  }
  #winner2 {
    background-image: url('../img/images/announcement-bg_02.png');
    background-size: 100%;
  }

  #winner {
    background-image: url('../img/images/announcement-bg_02.png');
    background-size: 100%;
    padding-top: 25px;
    padding-bottom: 40px;
    color:#fff;
    font-family: 'Campton-Bold';
  }

  #winner .header h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
  }

  #winner .header p {
    text-align: center;
  }

  #winner .winner-text {
    margin-top:50px;
    text-align: center;
  }

  #winner .winner-text ol{
    text-align: left;
  }

  #winner .winner-text .term {
    margin-top:0px;font-size:12px;
  }

  #winner .term {
    margin-top:2px;
    font-family: 'Campton-Medium';
    line-height: 10px;
    font-size: 9px;
    text-align: center;
  }

  #winner .term-voucher {
    margin-top:20px;
    font-family: 'Campton-Medium';
    line-height: 10px;
    font-size: 8px;
    
  }
  

  #footer {
    padding: 30px;
    border-bottom: 2px solid #f2f2f2;  
  }

  .btn-shopee {
    background-color: #FF5722;
    color: #fff;
    border-radius: 0px;
  }

  .btn-shopee:hover {
    color: #fff;    
  }

  .partner-text {
    display: block;
    font-family: 'Gotham Black';
    color: #FF5722;
  }

 .partner-text h4 {
   text-transform: uppercase;
 }
    

  /*Utilities*/

  .padding-0 {
    padding:0px;
  }

  .margin-0 {
    margin:0px;
  }

  .btn {
    border-radius: 0px;
  }

  #white-area {
    height: 100%;
    position: relative;
    background: #fff;
  }

  .from-shopee-area{
    padding-top:30%;
    height: 100%;
    height: 768px;
    background: #fff;
    /*overflow-x:hidden; */
  }

  .from-shopee {
  text-transform: none;
  /*margin-top: 25px;*/
  /*padding: 100px;*/
  /*padding-bottom:250px;*/
  color: #f15a24;
  background: #fff;
  font-size: 13px;
}


/* Mobile Device Adjustment */

/*Less than Galaxy S5*/
@media screen and (max-width:320px) and (max-height:600px) {
    #prizes .text-head h4 {
      padding-top: 10px;
      padding-bottom: 5px;
      margin-top: 0px;
  }
  
  #games .text-head h4 {
      padding-top: 12px;
      padding-bottom: 10px;
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 13px;
  }

  #games .chances-number {
    margin-top: 5px;
  }

  #games .wins-number {
    margin-top: 5px;
  }

  .wheel-area .wheel-bubble {
    margin-top: -180px !important;
  }

  #prizes-this-week .text-head h4, #how-to-play .text-head h4 {
    padding-top: 20px;
  }

  #promo-partnership .promo-content .partner-wrapper{
    padding: 5px;
  }

  #games .chances-panel h5 {
    /*text-align: center;
    text-transform: none;
    margin:0px;*/
    margin-bottom:10px;
    font-size: 13px;
  }

   #games .chances-panel h4 {
    font-size: 16px;
    margin-top:5px;
   }

   #social-media-campaign .sm-item .sm-item-text {
     font-size: 10px;
     line-height: 10px;
   }

   #winner .header h2 {
     font-size: 20px;
     padding-top: 3px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 10px;
  }

  #winner .winner-text {
    margin-top: 30px;
  }

  #winner .winner-text p{
    font-size: 12px;
  }

  #winner .winner-text ol li{
    font-size: 10px;
  }

  #winner .winner-text.term p{
    margin-top:0px !important;font-size:10px;
  }

  
  
}

/*Less than Galaxy S5 360 616*/
@media screen and (max-width:360px) and (max-height:639px) {
    #prizes .text-head h4 {
      padding-top: 10px;
      padding-bottom: 5px;
      margin-top: 0px;
  }
  
  #games .text-head h4 {
      padding-top: 12px;
      padding-bottom: 10px;
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 13px;
  }

  #games .chances-number {
    margin-top: 5px;
  }

  #games .wins-number {
    margin-top: 5px;
  }

  .wheel-area .wheel-bubble {
    margin-top: -180px !important;
  }

  #prizes-this-week .text-head h4, #how-to-play .text-head h4 {
    padding-top: 20px;
  }

  #promo-partnership .promo-content .partner-wrapper{
    padding: 5px;
  }

  #games .chances-panel h5 {
    /*text-align: center;
    text-transform: none;
    margin:0px;*/
    margin-bottom:10px;
    font-size: 13px;
  }

   #games .chances-panel h4 {
    font-size: 16px;
    margin-top:5px;
   }

   #social-media-campaign .sm-item .sm-item-text {
     font-size: 10px;
     line-height: 10px;
   }

   #winner .header h2 {
     font-size: 25px;
     padding-top: 8px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 10px;
  }

  #winner .winner-text {
    margin-top: 40px;
  }

  #winner .winner-text p{
    font-size: 12px;
  }

  #winner .winner-text ol li{
    font-size: 10px;
  }

  #winner .winner-text.term p{
    margin-top:0px !important;font-size:10px;
  }

   #winner .term-voucher {
    margin-top: 45px;
    font-family: 'Campton-Medium';
    line-height: 12px;
    font-size: 10px;
  }

  
  
}

/*Galaxy S5*/
@media screen and (min-width:360px) and (min-height:640px) {
    #prizes .text-head h4 {
      padding-top: 10px;
      padding-bottom: 5px;
      margin-top: 0px;
  }
  
  #games .text-head h4 {
      padding-top: 12px;
      padding-bottom: 10px;
      margin-top: 0px;
      margin-bottom: 5px;
  }

  #games .chances-number {
    margin-top: 5px;
  }

  #games .wins-number {
    margin-top: 5px;
  }

  .wheel-area .wheel-bubble {
    margin-top: -210px;
  }

  #prizes-this-week .text-head h4, #how-to-play .text-head h4 {
    padding-top: 20px;
  }

  #promo-partnership .promo-content .partner-wrapper{
    padding: 5px;
  }

  #games .chances-panel h5 {
    /*text-align: center;
    text-transform: none;
    margin:0px;*/
    margin-bottom:10px;
    font-size: 15px;
  }

   #games .chances-panel h4 {
    font-size: 16px;
    margin-top:5px;
   }
  
  #winner .header h2 {
     font-size: 25px;
     padding-top: 8px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 10px;
  }

  #winner .winner-text {
    margin-top: 35px;
  }

  #winner .winner-text p{
    font-size: 12px;
  }

  #winner .winner-text ol li{
    font-size: 10px;
  }

  #winner .winner-text.term p{
    margin-top:0px !important;font-size:15px;
  }

  #winner .term-voucher {
    margin-top: 45px;
    font-family: 'Campton-Medium';
    line-height: 12px;
    font-size: 10px;
  }
  
  
}

/*1Plus*/
@media screen and (width:393px) and (max-height:699px) {
    #prizes .text-head h4 {
      padding-top: 10px;
      padding-bottom: 5px;
      margin-top: 0px;
  }
  
  #games .text-head h4 {
      padding-top: 12px;
      padding-bottom: 10px;
      margin-top: 0px;
  }

  #games .chances-number {
    margin-top: 5px;
  }

  #games .wins-number {
    margin-top: 5px;
  }

  .wheel-area .wheel-bubble {
    margin-top: -230px;
  }

  #prizes-this-week .text-head h4, #how-to-play .text-head h4 {
    padding-top: 20px;
  }

  #promo-partnership .promo-content .partner-wrapper{
    padding: 5px;
  }

  #games .chances-panel h5 {
    /*text-align: center;
    text-transform: none;
    margin:0px;*/
    margin-bottom:10px;
    font-size: 13px;
  }

   #games .chances-panel h4 {
    font-size: 16px;
    margin-top:5px;
   }

   #winner .header h2 {
     font-size: 25px;
     padding-top: 15px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 10px;
  }

  #winner .winner-text {
    margin-top: 45px;
  }

  #winner .winner-text p{
    font-size: 14px;
  }

  #winner .winner-text ol li{
    font-size: 10px;
  }

  #winner .term p{
    margin-top:0px !important;
    font-size:12px;
    line-height: 12px;
  }

  #winner .term-voucher {
    margin-top: 40px;
    font-family: 'Campton-Medium';
    line-height: 12px;
    font-size: 11px;
  }

  
  
}

/*Nexus 5X*/
@media screen and (width:412px) and (max-height:732px) {
   #games .chances-panel h5 {
    margin-bottom:10px;
    margin-top: 3px;
    font-size: 17px;
  }
  
  #games .wins-number {
    margin-top: 18px;
  }

  #games .chances-number {
    /*margin-top: 15px;*/
  }

  #social-media-campaign .sm-item .sm-item-text {
    padding-top: 35px;
  }

  #promo-partnership .promo-content {
    /*padding-bottom: 50px; */
  }

  .wheel-area .wheel-bubble {
    margin-top: -250px;
  }

  #winner .header h2 {
     font-size: 25px;
     padding-top: 15px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 10px;
  }

  #winner .winner-text {
    margin-top: 50px;
  }

  #winner .winner-text p{
    font-size: 15px;
  }

  #winner .winner-text ol li{
    font-size: 10px;
  }

  #winner .term p{
    margin-top:0px !important;
    font-size:12px;
    line-height: 12px;
  }

  #winner .term-voucher {
    margin-top: 45px;
    font-family: 'Campton-Medium';
    line-height: 14px;
    font-size: 12px;
  }
}

/*iPhone 5 */
@media screen and (device-width:320px) and (device-height:568px) {
  #prizes .text-head h4, #games .text-head h4 {
    font-size: 15px;
    padding-top: 8px;  
    padding-bottom: 8px;    
  }

  #games .chances-panel {
    padding-top: 5px;
  }

   #games .chances-panel h5 {
    /*text-align: center;
    text-transform: none;
    margin:0px;*/
    margin-top: 5px;
    margin-bottom:10px;
    font-size: 13px;
  }

   #games .chances-panel h4 {
    font-size: 14px;
    margin-top:0px;
   }

  #games .chances h4 {
    margin-bottom: 5px;
    
    font-size: 15px;
  }

  #games .chances h3 {
    font-size: 21px;
  }

  #games .chances-number{
    margin-top:5px;
  }

  #games .wins h5 {
    margin-top:10px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size:12px;
  }

  #games .wins h4 {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  #games .wins-number {
    margin-top: 6px;
  }

  #games .dapatkan {
    font-size: 13px;
  }

  .wheel-area .wheel-bubble {
    margin-top: -180px;
  }
  #prizes-this-week .text-head h4, #how-to-play .text-head h4 {
    padding-top: 15px;
  }

  #social-media-campaign .text-head h4 {
    padding-top:15px;
  }

  #social-media-campaign .sm-item .sm-item-text {
    padding-top: 25px;
    font-size: 12px;
    line-height: 12px;
  }

  #promo-partnership .promo-content .partner-wrapper {
    padding: 3px;
  }

 

}

/*iPhone 6 */
@media screen and (width:375px) and (max-height:667px) {
  #prizes .text-head h4, #games .text-head h4 {
    padding-top:11px;
  }


   #games .chances-panel h5 {
    /*text-align: center;
    text-transform: none;
    margin:0px;*/
    margin-bottom:10px;
    font-size: 16px;
  }

  #games .chances-number {
    margin-top: 10px;
  }

  #games .wins-number {
    margin-top: 10px;
  }

  #prizes-this-week .text-head h4 {
    padding-top: 20px;
  }

  #how-to-play .text-head h4 {
    padding-top: 20px;
  }

  #social-media-campaign .sm-item .sm-item-text {
    padding-top: 30px;
  } 

  .wheel-area .wheel-bubble {
    margin-top: -220px;
  }


  
   #promo-partnership {
     margin-top: 0px;
   }

   #winner .header h2 {
     font-size: 25px;
     padding-top: 10px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 10px;
  }

  #winner .winner-text {
    margin-top: 40px;
  }

  #winner .winner-text p{
    font-size: 14px;
  }

  #winner .winner-text ol li{
    font-size: 10px;
  }

  #winner .term p{
    margin-top:0px !important;
    font-size:12px;
    line-height: 12px;
  }

  #winner .term-voucher {
    margin-top: 30px;
    font-family: 'Campton-Medium';
    line-height: 12px;
    font-size: 11px;
  }
 

}

/*iPhone 6 Plus*/
@media screen and (width:414px) and (max-height:736px) {
  #games .chances-number {
    margin-top: 15px;
  }

  #games .wins-number {
    margin-top: 18px;
    margin-bottom: 15px;
    
  }
  .wheel-area .wheel-bubble {
    margin-top: -250px;
  }
  #social-media-campaign .sm-item .sm-item-text {
    padding-top: 37px;
  }

   #games .chances-panel h5 {
    margin-top: 3px;
    margin-bottom:10px;
    font-size: 16px;
  }

   #games .chances-panel h4 {
    font-size: 18px;
    margin-top:10px;
   }

   #promo-partnership {
     margin-top: 0px;
   }

     #winner .header h2 {
     font-size: 25px;
     padding-top: 15px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 13px;
  }

  #winner .winner-text {
    margin-top: 45px;
  }

  #winner .winner-text p{
    font-size: 15px;
  }

  #winner .winner-text ol li{
    font-size: 13px;
  }

  #winner .term p{
    margin-top:0px !important;
    font-size:12px;
    line-height: 12px;
  }

  #winner .term-voucher {
    margin-top: 45px;
    font-family: 'Campton-Medium';
    line-height: 13px;
    font-size: 11px;
  }
    

}


@media only screen and (min-width:768px) {
  body{
    width: 450px;
    margin-right: auto;
    margin-left:auto;
  }
  .col-md-offset-4 {
    margin-left: 0px;
  }

  .wheel-area .wheel-bubble {
    margin-top: -250px;
  }
  #games .chances-panel h5 {
    margin-bottom: 15px;
    font-size: 17px;
  }
  #games .chances-panel h4 {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;
  }

  #social-media-campaign .sm-item .sm-item-text {
    text-align: right;
    font-family: 'Campton-Bold';
    color: #6b270d;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 14px;
  }
     #winner .header h2 {
     font-size: 25px;
     padding-top: 25px;
     margin-bottom: 5px;
   }

   #winner .header p {
    font-size: 15px;
  }

  #winner .winner-text {
    margin-top: 50px;
  }

  #winner .winner-text p{
    font-size: 15px;
  }

  #winner .winner-text ol li{
    font-size: 15px;
  }

  #winner .term p{
    margin-top:0px !important;
    font-size:12px;
    line-height: 12px;
  }

  #winner .term-voucher {
    margin-top: 45px;
    font-family: 'Campton-Medium';
    line-height: 13px;
    font-size: 11px;
  }
}

@media only screen and (min-width:1024px) {
  #main-area {
    width: 450px;
  }
  #prizes .text-head h4, #games .text-head h4 {
    font-size: 18px;
    padding-top: 18px;  
    padding-bottom: 15px;    
  }

  #prizes-this-week .text-head h4, #how-to-play .text-head h4 {
    font-size: 18px;
    padding-top: 25px;  
    padding-bottom: 25px;    
  }

  #social-media-campaign .text-head h4 {
    font-size: 18px;
    padding-top: 25px;  
    padding-bottom: 25px;    
  }

  .wheel-area .wheel-bubble {
    margin-top: -250px;
  }
  #games .chances-panel h5 {
    margin-bottom: 20px;
    font-size: 17px;
  }

  #games .dapatkan span {
    font-size: 6px;
  }
  #games .chances-panel h4 {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;
  }

  #social-media-campaign .sm-item .sm-item-text {
    text-align: right;
    font-family: 'Campton-Bold';
    color: #6b270d;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 14px;
  }
}


@media only screen and (min-width:1366px) and (min-height:768px) {

  
  .wheel-area .wheel-bubble {
    margin-top: -240px;
  }
  #games .chances-panel h5 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 18px;
  }
  #games .chances-panel h4 {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px;
  }

  #prizes .text-head h4, #games .text-head h4 {
    font-size: 20px;
    padding-top: 12px;  
    padding-bottom: 15px;    
  }

  #prizes-this-week .text-head h4, #how-to-play .text-head h4 {
    font-size: 20px;
    padding-top: 25px;  
    padding-bottom: 25px;    
  }

  #social-media-campaign .text-head h4 {
    font-size: 20px;
    padding-top: 25px;  
    padding-bottom: 25px;    
  }

  #social-media-campaign .sm-item .sm-item-text {
    text-align: right;
    font-family: 'Campton-Bold';
    color: #6b270d;
    padding-top: 40px;
    padding-bottom: 35px;
    line-height: 16px;
  }
}

