#promo-juni {
    background-image: url('../img/june/bg_02.png');
    background-size: 100%;
    padding: 0px !important;
}

#promo-juni .header-promo {
    padding: 20px;
}

#promo-juni .header-promo img{
    width: 100%;
}

.btn-area {
    margin-top: -10px;
}

.shopee-btn {
    width: 100%;
    padding:15px 40px;
    background-color: #f7d908;
    color:#f15a24;
    font-family: 'Gotham Black';
    border-radius: 10px;
    text-transform: uppercase;
}

.promo-box {
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.promo-box-wrapper {
    margin-bottom: 35px;
}
.promo-box-wrapper img {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0px !important;
}

a:hover {
    text-decoration: none;
    color:#207a59;
}

.check-in-float {
    padding-right: 0px;
}

.check-in-float img{
    margin-top: 120px;
     margin-bottom: 120px;
    width: 200px;
    float: right;
}

@media screen and (min-width: 1025px) { 
   .promo-box-wrapper {
       margin-bottom: 20px;
    } 
}



.btn-envelope {
    width: 100%;
    height: 200px;
    background: url('../img/game/amplop-close.png');
    background-size: 100% 100%;
}

.envelope-list {
    margin-top:100px;
    margin-bottom: 20px;
}

.envelope-wrapper {
    height: 120px;
}

.envelopes-wrapper h4 {
    text-transform: uppercase;
    color: #057A50;
    /*margin-bottom: 50px;*/
}

.envelope-wrapper img{
    cursor: pointer;
    z-index: 9999;
}

.envelope {
    z-index: 99999;
    position: relative;
        /*opacity: 0.5;*/
}

.coin {
    width: 80%;
    height: 80px;
    background: url('../img/game/coin-bg.png') no-repeat;
    background-size: 100%;
    /*margin-top:-80px;*/
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    
    /*z-index: -1;*/
}

.coin-area-1, .coin-area-2, .coin-area-3{
    width: 80%;
    right: 12px;
    height: 100%;
    position: absolute;
    top: 20px;
}

.coin p {
    padding-top: 5px;
    z-index: -1;
    font-size: 16px;
    color: #c65e18;
    text-align: center;
    
}

.movetoup {
    animation-name: toUp;
    animation-duration: 0.5s;
    animation-play-state: paused;
}


#modal_get_coins {
    text-align: center;
}

#modal_get_coins img {
    margin-left: auto;
    margin-right: auto;
}

#modal_get_coins h4 {
    color: #057A50;
    font-family: 'Gotham Black';
    line-height: 1.6em;
}

#modal_get_coins h4 span {
    font-size: 1.6em;

}

.thanks-msg {
    color: #057A50;
    font-family: 'Gotham Black';
    line-height: 1.6em;
    text-align: center;
}

.modal ol, .modal h5{
    font-family: 'Avenir Medium';
}

.modal p{
    font-family: 'Avenir Black';
}

@keyframes toUp {
    from {top:-80px}
    to {top:-120px}
}

@media (min-width: 320px) and (min-height: 560px) {
    .coin {
        padding: 10px;
    }

    .coin {
        padding: 15px;
    }

}

@media (min-width: 360px) and (min-height: 640px) {
    .coin {
        padding: 16px;
    }

}

@media (min-width: 375px) and (min-height: 667px) {
    .coin p{
       font-size: 18px;
    }

}


@media (min-width: 412px) and (min-height: 732px) {
    .coin-area-1, .coin-area-2, .coin-area-3{
        /*height: 100%;
        position: relative;
        top: -100px;*/
    }

}