 @font-face {
    font-family: 'Campton-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/campton-light.woff') format('woff');
  }

  @font-face {
    font-family: 'Campton-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Campton-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Campton-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/campton-medium.woff') format('woff');
  }



body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    font-family: 'Campton-Lght', sans-serif;
    background: linear-gradient(180deg, #3294bd, #2b619f, #00599c);
    color:#fff;
}

.modal-content {
     background: linear-gradient(-150deg, #3294bd, #2b619f, #00599c);
}

.modal-content ul li {
    line-height: 25px;
}

h2, h3 {
    font-family: 'Campton-Bold';
    text-transform: uppercase;
}

.panel-promo {
    
    padding-left: 50px;
    padding-right: 50px;

}

.panel-promo-header h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/panel-header-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 24px;
    padding-top:20px;
    padding-bottom: 20px; 
    z-index: 2;
    position: relative;
}

.panel-promo-content {
    background-color: #fff;
    border-radius: 20px;
    margin-top: -50px;
    z-index: 1;
    position: relative;
    color: #333;
    padding: 15px 20px 20px 20px;
    text-align: center;
    font-family: 'Campton-Bold';
}

#main-wrapper {
    margin-top:20px;
    padding: 25px 0px 0px 0px;;
    background-image: url('../images/partners-bg.png');
    background-size: 100%;
}

.logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.permata {
    width: 70%;
    content: url('../images/bank/permata.png');
}

.citi {
    width: 70%;
    content: url('../images/bank/citibank.png');
    margin-top: 10px;
}

.uob {
    width:60%;
    content: url('../images/bank/uob.png');
    margin-top: 25px;
}

.gogo {
    width:60%;
    content: url('../images/bank/gogo.png');
    margin-top: 25px;
}

ul {
    padding-left: 20px;
}

ul li {
    line-height: 16px;
    font-family: 'Campton-Light';
}

.footer {
    background-image: url('../images/footer-bg_02.png');
    background-size: 100%;
}

/*utility*/

.padding-0 {
    padding: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.pr-0 {
    padding-right: 0px;
}

a {
    font-family: 'Campton-Bold';
    color:#fff;
}

a:active, a:hover{
    color:#fff;
    z-index: 3;
}

a:visited{
    color:#fff;
}

a.btn {
    text-transform: uppercase;
    /*font-family: 'Campton-Bold';*/
}

.btn-black {
    background-color: #333;
}

.yellow-bg {
    background-color: #ffda00;
}


/*Mobile Device Adjusment*/

@media only screen and (min-width:1024px) {
    
    .panel-promo-header h3 {
   
        padding-top:20px;
        padding-bottom: 20px; 
    
    }
}

/*Less than Galaxy S5 -> 360 616*/
@media screen and (max-width:360px) and (max-height:630px) {
    .panel-promo-header h3 {
        font-size: 20px;
        padding-top:20px;
        padding-bottom: 20px; 
    
    }
}

/*1Plus*/
@media screen and (width:393px) and (max-height:699px) {
    .panel-promo-header h3 {
        font-size: 20px;
        padding-top:20px;
        padding-bottom: 20px; 
    
    }
}

/*Galaxy s5*/
@media only screen and (max-width:360px) and (max-height:640px) {
    .panel-promo-header h3 {
        font-size: 20px;
        padding-top:15px;
        padding-bottom: 20px; 
    
    }
}

/*iPhone 5*/
@media only screen and (width:320px) and (height:568px) {
    .panel-promo-header h3 {
        font-size: 17px;
        padding-top:15px;
        padding-bottom: 20px; 
    
    }
}

/*iPhone 6*/
@media only screen and (width:375px) and (height:667px) {
    .panel-promo-header h3 {
        font-size: 17px;
        padding-top:20px;
        padding-bottom: 20px; 
    
    }
}

/*iPad Potrait*/
@media only screen and (min-width:768px) and (min-height:1024px) {
    body {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .panel-promo-header h3 {
        font-size: 30px;
        padding-top:25px;
        padding-bottom: 30px; 
    
    }
}

/*iPad Landscape*/
@media only screen and (width:1024px) and (height:768px) {
    .panel-promo-header h3 {
        font-size: 15px;
        padding-top:15px;
        padding-bottom: 20px; 
    
    }
}

/*iPad Pro*/
@media only screen and (width:1024px) and (height:1366px) {
    .panel-promo-header h3 {
        font-size: 15px;
        padding-top:15px;
        padding-bottom: 20px; 
    
    }
}

